section {
  position: relative;
  height: 70%;
}

swiper.swiper {
  height: 95%;
}



h1 {
  font-size: 30px;
  text-align: center;
}
// .btn_back{
//   background-color: white;
//   margin: 23px 0px 0px 12px;
// }
button{
  background-color: white;
  width: 45px;
  margin: 15px 0px 0px 0px;
  
}

.btn_programs{
  display: flex;
  justify-content: space-around;
  text-align: center;
}


.shadowBottom{
  height: 100px;
}


