<ion-content>
  <ion-icon name="arrow-back-outline"></ion-icon>

  <div class="two-sides-top">
    <div class="top-side">

      <h1 class="title_home"> Programme </h1>

      <ion-button class="btn" slot="secondary" data-toggle="collapse" data-target="#target2" color="dark">
        <span>BASIC</span>
      </ion-button>
      <div id="target2" class="collapse">

        <ion-item *ngFor="let program of programsList">

          <ion-label>
            <h2>{{program.name}}</h2>
            <h3>{{program.seances.length}} {{program.seances.length > 1 ? 'séances' : 'seance'}} | {{currentDate}} </h3>
          </ion-label>
        </ion-item>


      </div>
    </div>





    <!-- <section *ngIf="inProgressPrograms?.length">
        <h1>Programme{{inProgressPrograms?.length > 1 ? 's' : ''}} en cours</h1>
        <ng-container *ngIf="inProgressPrograms.length === 1; else swiperPrograms">
          <ng-container [ngTemplateOutlet]="programView" [ngTemplateOutletContext]="{ program : inProgressPrograms[0]}"></ng-container>
        </ng-container>
      </section> -->

    <div class="bottom-side"></div>
  </div>
</ion-content>

<!-- <ng-template #swiperPrograms>
  <swiper [config]="swiperConfig">
    <ng-template swiperSlide *ngFor="let program of inProgressPrograms">
      <ng-container [ngTemplateOutlet]="programView" [ngTemplateOutletContext]="{ program : program }"></ng-container>
    </ng-template>
  </swiper>
</ng-template> -->

<!-- <ng-template #programView let-program="program">
  <div class="in-progress-program">
    <p class="ion-text-end ion-padding-end ion-no-margin">{{program.name}}</p>
    <p class="ion-text-end ion-padding-end ion-no-margin">{{program.date}}</p>
    <ul>
      <li *ngFor="let seance of program.seances" class="seance" [ngClass]="{'done' : seance.done}">{{seance.name}}</li>
    </ul>
  </div>
</ng-template> -->
