section {
  position: relative;
  height: 70%;
}

swiper.swiper {
  height: 95%;
}

h1 {
  font-size: 30px;
  text-align: center;
}
// .btn_back{
//   background-color: white;
//   margin: 23px 0px 0px 12px;
// }
button{
  background-color: white;
  width: 45px;
  margin: 15px 0px 0px 0px;
  
}

// .btn span {
//   cursor: pointer;
//   display: inline-block;
//   position: relative;
//   transition: 0.5s;
// }

// .btn span:after {
//   content: '\2193';
//   position: absolute;
//   opacity: 0;
//   top: 0;
//   right: -20px;
//   transition: 0.5s;
// }

// .btn:hover span {
//   padding-right: 25px;
// }

// .btn:hover span:after {
//   opacity: 1;
//   right: 0;
// }

.btn_programs{
  display: flex;
  justify-content: space-around;
  text-align: center;
}



