ion-list {
  margin: 0px 10px;
}

// h1 {
//   margin: 1vh 0px 30px 0px;
// }

button {
  background-color: white;
  width: 45px;
  margin: 15px 0px 0px 10px;
}

ion-label {
  font-weight: bold;
  font-size: 30px;
}

.nameProgram {
  margin: 0px 10px 1rem 12px;
  font-size: 26px;
  text-transform: uppercase;
}



