// ion-list {
//   margin: 0px 10px;
// }

button {
  background-color: white;
  width: 45px;
  margin: 15px 0px 0px 10px;
}

ion-label {
  font-weight: bold;
  font-size: 25px;
 
}

.top_info
{
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 10px;
  text-align: center;
  border-radius: 7px;
}

.title_top_seanceForm{
  margin: 10px;
  text-align: center;
}

ion-fab{
  margin-left: 40%;
}


