<header>
  <button class="btn_back" (click)="back()">
    <img class="img_btn_back" src="/assets/img/Btn_back.png" alt="">
    <!-- <ion-icon name="arrow-back-outline"></ion-icon> -->
  </button>
  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/img/Boy-Emoji-Avatar-PNG.png" />
    </ion-avatar>
    <ion-label>
      <h2>Louis</h2>
    </ion-label>
  </ion-item>
</header>

<ion-content>

  <div>
    <ion-item>
      <ion-label color="dark" position="floating">Poids actuel vision</ion-label>
      <ion-input type="number" [(ngModel)]="nameProg"></ion-input>
    </ion-item>

  </div>

  <div id="container"></div>

</ion-content>

<footer>

</footer>
