<div class="two-sides-top">
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide class="swiper-slide" *ngFor="let exercice of seance.exercises">
        <div class="slide">
          <img class="img_slide" src="{{exercice.img}}">
          <h2>{{exercice.name}}</h2>
         

          <ion-label> <B>serie</B> : {{exercice.series}}</ion-label> <br>
          <ion-label> <B>repetitions</B> : {{exercice.repetitions}}</ion-label> <br>
          <ion-label> <B>breakTime</B> : {{exercice.breakTime}}s</ion-label>
        </div> 
        <ion-button color="dark" data-toggle="collapse" data-target="#detail">Détail</ion-button>

        

        
        <div id="detail" class="collapse">
          <ion-card>{{exercice.detail}}</ion-card>
        </div>


      </ion-slide>

      <ion-slide>
        <div>
          <img class="settings_img" src="/assets/img/HOVA_logo.png" alt="">
        </div>

        <ion-list>
          <ion-item>
            <ion-icon name="barbell-outline"></ion-icon>
            <ion-label>
              &nbsp; | Attention avec les charges
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="hourglass-outline"></ion-icon>
            <ion-label>
              &nbsp; | Respecter le temps de repos
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="water-outline"></ion-icon>
            <ion-label>
              &nbsp; | Hydrater vous bien !
            </ion-label>
          </ion-item>
        </ion-list>


        <ion-button class="btn_back_slide" color="dark" [routerLink]="['/programs/listSeances']" fill="clear">
          back
          <ion-icon slot="end" color="dark" name="arrow-forward"></ion-icon>
        </ion-button>

      </ion-slide>
    </ion-slides>






  </ion-content>
  <div class="bottom-side">
    <a class="btn-add-program" [routerLink]="['/settings/settingsHome']">
      <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-3.png" alt="">
    </a>
  </div>

</div>









































































<!-- <header>
  <div class="title_exercice_name">
    <h1>SeanceName</h1>
    <h2>ExercicesName</h2>
  </div>


</header>

<ion-content>
  <div class="two-sides-top">
    <div class="top-side">


       <div class="exercicesList">

        <ion-content>
          <ion-card *ngFor="let exercice of exercicesList">
            <ion-item>
              <ion-label>{{exercice.name}}</ion-label>
              <ion-button color="dark" slot="end" [routerLink]="['/programs/detailsExercices']">
                <ion-icon name="information"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content *ngIf="exercice.category == 'machine' ">
              <ion-icon name="barbell"> </ion-icon> | {{exercice.series}} séries | {{exercice.repetitions}} reps 
            </ion-card-content>
            <ion-card-content *ngIf="exercice.category == 'pulley' ">
              <ion-icon name="barbell"> </ion-icon> | {{exercice.series}} séries | {{exercice.repetitions}} reps 
            </ion-card-content>
            <ion-card-content *ngIf="exercice.category == 'bodyWeight' ">
              <ion-icon name="accessibility"></ion-icon> | {{exercice.series}} séries | {{exercice.repetitions}} reps
            </ion-card-content>
          </ion-card>
        </ion-content>

      </div>

    </div>

    <div class="bottom-side">
      <a class="btn-add-program" [routerLink]="['']">
        <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-3.png" alt="">
      </a>
    </div>

  </div>
</ion-content> -->
