<header>
  <div class="title_exercice_name">
    <h1>SeanceName</h1>
    <h2>ExercicesName</h2>
  </div>


</header>

<ion-content>
  <div class="two-sides-top">
    <div class="top-side">


      <div class="exercicesList">

        <ion-content>
          <ion-card *ngFor="let exercice of exercicesList">
            <ion-item>
              <ion-label>{{exercice.name}}</ion-label>
              <ion-button color="dark" slot="end" [routerLink]="['/programs/detailsExercices']">
                <ion-icon name="information"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content *ngIf="exercice.category == 'machine' ">
              <ion-icon name="barbell"> </ion-icon> | {{exercice.series}} séries | {{exercice.repetitions}} reps 
            </ion-card-content>
            <ion-card-content *ngIf="exercice.category == 'pulley' ">
              <ion-icon name="barbell"> </ion-icon> | {{exercice.series}} séries | {{exercice.repetitions}} reps 
            </ion-card-content>
            <ion-card-content *ngIf="exercice.category == 'bodyWeight' ">
              <ion-icon name="accessibility"></ion-icon> | {{exercice.series}} séries | {{exercice.repetitions}} reps
            </ion-card-content>
          </ion-card>
        </ion-content>

      </div>

    </div>

    <div class="bottom-side">
      <a class="btn-add-program" [routerLink]="['']">
        <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-3.png" alt="">
      </a>
    </div>

  </div>
</ion-content>
