<header>
  <div class="title_seance_name">
    <h1>ProgrameName</h1>
    <h2>SeanceName</h2>
  </div>

  
</header>

<ion-content>
  <div class="two-sides-top">
    <div class="top-side">


      <div class="programList">

        <ion-content>
          <ion-card *ngFor="let seance of seancesList">
            <ion-item>
              <ion-label>{{seance.name}}</ion-label>
              <ion-button color="dark" slot="end" [routerLink]="['/programs/listExercices']">
                <ion-icon name="chevron-forward-sharp"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-card-content>
              <ion-icon name="barbell"> </ion-icon> | {{seance.exercises.length}}
              {{seance.exercises.length > 1 ? 'exercices' : 'exercice'}} | {{seance.time}}
            </ion-card-content>
          </ion-card>
        </ion-content>
         

      </div>

    </div>

    <div class="bottom-side">
      <a class="btn-add-program" [routerLink]="['']">
        <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-3.png" alt="">
      </a>
    </div>

  </div>
</ion-content>
