<header>
  <div class="title_seance_name">
       
    <h1>{{program.name}}</h1>
  </div>
</header>

<ion-content>
  <div class="two-sides-top">
    <div class="top-side" *ngIf="program">



      <ion-card *ngFor="let seance of program.seances">

        <ion-item>
          <ion-label>{{seance.name}}</ion-label>
          <ion-button color="dark" slot="end" (click)="onClickDetailsExo(seance)">
            <ion-icon name="chevron-forward-sharp"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-card-content>
          <ion-icon name="barbell"> </ion-icon> | {{seance.exercises.length}}
          {{seance.exercises.length > 1 ? 'exercices' : 'exercice'}} | {{seance.time}}
        </ion-card-content>
      </ion-card>

    </div>

    <div class="bottom-side">
      <a class="btn-add-program" [routerLink]="['/settings/settingsHome']">
        <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-3.png" alt="">
      </a>
    </div>

  </div>
</ion-content>
