
.container_info{
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 22px;
  padding-right: 15px;
}

.btn_back{
  background-color: white;
  margin: 23px 0px 0px 12px;
}

ion-item{
  background-color: brown;
}




