<ion-content>
  <div class="two-sides-top">
    <div class="top-side">


      <div class="container">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
        <!-- <div class="form-group">
              <label>Nom du programme</label>
              <input type="text" class="form-control" placeholder="ex : Prise de masse" formControlProgram="programName" required minlength="2">
            </div> -->

        <div class="container_info">
          <ion-item>
            <ion-label color="dark" position="floating">Nom du programme</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <!-- <input placeholder="Nom du programme" type="text" [disabled]="nameProgInputChoice"> -->
          <!-- <input type="checkbox" (click)="checkBoxClick()"><br> 
            <button (click)="checkBoxClick()">
            <ion-icon name="pencil-outline"></ion-icon>
          </button>-->




          <!-- <form [formGroup]="nameProg" (ngSubmit)="onSubmit(nameProg.value)">
            <input  type="text" ([ngModel])="namePrograme" placeholder="Nom du programme"
              [formControl]="nameProg.controls['programName']">
                </form> -->


        </div>
      </div>

      <div>

      </div>



    </div>
    <div class="bottom-side">
      <a class="btn-add-program" [routerLink]="['/programs/createSeance']">
        <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-6.png" alt="">
      </a>
    </div>

  </div>
</ion-content>
