<ion-content>
  <div class="two-sides-top">
    <div class="top-side">

      <div>
        <button class="btn_back" (click)="back()">
          <img class="img_btn_back" src="/assets/img/Btn_back.png" alt="">
        </button>
      </div>

      <form [formGroup]="formExecise">


        <ion-list>
          <ion-item>
            <ion-label>Exercices</ion-label>
            <ion-select formControlName="nameExercise" value="nameExercise" [multiple]="true">
              <ion-select-option [value]="exercices" *ngFor="let exercices of exercicesList">
                {{exercices.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>Temps de récupération</ion-label>
            <ion-select formControlName="timeOff" value="timeOff" okText="Validé" value="timeOff">
              <ion-select-option>
                1
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>Séries</ion-label>
            <ion-select formControlName="series" value="series" okText="Validé">
              <ion-select-option>
                1
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-label>Repetitions</ion-label>
            <ion-select formControlName="repetitions" value="repetitions" okText="Validé">

              <ion-select-option>
                1
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>


      </form>



    </div>
    <div class="bottom-side">
      <a class="btn-add-program">
        <img class="img-btn-add-program" src="/assets/img_btn/Ajouter-9.png" alt="">
      </a>
    </div>
    <!-- 
(click)="CustomProgramSubmit()" 

  </div>
</ion-content> -->
