.buttons {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  
}

button {
  position: absolute;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  &:nth-child(1) {
    height: 40%;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 50%);
    align-items: flex-start;
    padding-top: 5rem;
    background-image: url(/assets/img/sports-ge79a6b89a_640.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    //box-shadow: 4px 10px 10px rgb(170, 150, 150);
    
  }

  &:nth-child(2) {
    height: 60%;
    clip-path: polygon(0 0, 100% 24%, 100% 80%, 0 100%);
    z-index: 10;
    background-image: url(/assets/img/homme-soulevant-une-haltere-dans-une-salle-de-musculation.png);
    background-repeat:no-repeat;
    background-size: cover;
   //box-shadow: 4px 10px 10px rgb(211, 200, 200);

  }

  &:nth-child(3) {
    height: 40%;
    bottom: 0;
    clip-path: polygon(0 57%, 100% 20%, 100% 100%, 0 100%);
    align-items: flex-end;
    padding-bottom: 3rem;
    background-image: url(/assets/img/gamification-fitness-park-concept-salle-sport-experience-digitale1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    //box-shadow: 4px 10px 10px rgb(170, 150, 150);

  }
}
